<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday Tracker</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    <style>
        body{ font-family: Arial; max-width: 600px; margin: auto; padding: 20px; }
        a { text-decoration: none; color: blue;}
        li { margin-bottom: 10px;}
    </style>
</head>
<body>
    <h1>🎂 Birthday Tracker</h1>
    {% block content %}{% endblock %}
</body>
</html>